
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.error-container .error {
  color: #bb1109;
}

.table-hover th,
.table-hover td {
  cursor: pointer;
}
